*{margin: 0; padding: 0; box-sizing: border-box;}

.heading{ font-size: 18px; text-align: center; color: lightsalmon; text-shadow: 0px 2px 4px #ffe9c5; margin: 50px 0;}

.img-div{display: flex; justify-content: center;}

.img-div img{ width: 200; height: 300;}

.date{ margin: 40px; font-size: 20px 0; text-align: center;}

.time{ margin: 40px; font-size: 20px 0; text-align: center;}